.container.main::after {
content: "";
background-image: url('https://i.postimg.cc/BQW1h5f8/tumblr-35ee89c4026bdfb3c7e5e7917afa1676-4e074108-1280.png');
background-repeat: no-repeat;
background-size: contain;
position: fixed;
display: block;
height: 400px;
width: 400px;
right: 25px;
bottom: -5px;
z-index: 100;
pointer-events: none;
}
.navbar-header > a > img {
content: url('https://i.postimg.cc/TwG9tGRv/tumblr-4dec8529c7e2e2e2e55574319e080bad-009ce401-400.png');
width: 200px;
}
